#playGrid{
    display: grid;
    justify-content: center;
    background-color: #f2f2f2;
    grid-template-columns: repeat(7, 5rem);
    column-gap: 0.25rem;
    row-gap: 0.25rem;
    width: 38rem; /* 3 + #colums + (#columns * column gap)*/
    /*height: 34.5rem; /* 3 + #rows + (#rows * row gap)*/
}

.gridPoint{
    background-color: red;
    height: 5rem;
    width: 5rem;
}